@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Rounded&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  logs: true;
  themes: business --default;
}
body {
  /* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
  font-family: "Kosugi Maru", "Arial", "メイリオ";
  touch-action: none;
}
