.rainbow-slider::-webkit-slider-thumb {
  border-width: 3px;
  border-color: oklch(96% 0 0);
  box-shadow: none;
}

.rainbow-slider::-moz-range-thumb {
  border-width: 3px;
  border-color: oklch(96% 0 0);
  box-shadow: none;
}
